.wrapper {
    background-color: #FFFFFF;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 5;
}
.logo {
    width: 120px;
    height: 12px;
}
.headercontent {
    box-shadow: 0px 0px 16px 0px rgba(38, 38, 38, 0.16);
}
.signin {
    padding: 16px 0;
    padding-right: 16px;
}
.hero {
    width: 100%;
    background-image: url(images/photo_3.svg);
    background-size: cover;
    background-position: 100% 0;
    background-attachment: fixed;
    padding-top: 152px;
    padding-bottom: 80px;  
}
.rest {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
}
.card {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    border: 1px solid rgba(117, 117, 117, 0.2);
    box-sizing: border-box;
    margin-bottom: 47px;
}
.social {
    padding-bottom: 55px;
}
@media screen and (max-width: 767px) {
    .hero {
        padding-bottom: 0;
    }
    .rest {
        position: relative;
        top: 51px;
        text-align: center;
    }
    .name {
        padding-bottom: 40px;
    }
    .lower {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 24px;
    }
    .quisine {
        padding-bottom: 16px;
    }
    .hr {
        padding-top: 55px;
        padding-bottom: 12px;
    }
    .line {
        display: block;
        width: 50px;
        height: 1px;
        background-color: #757575;
        margin: 0 auto 0;
    }
    .card {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    }
    .social {
        padding-bottom: 40px;
    }
}
.name {
    font-size: 36px;
    line-height: 42px;
    padding: 38px 38px 54px 38px;
}
.lower {
    padding: 0 29px 38px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quisine {
    font-size: 14px;
    line-height: 16px;
    color: #626262;
}
.button {
    background: #262626;
    border-radius: 16px;
}
.delivery {
    padding: 8px 16px 8px 16px;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}
.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    padding-top: 32px;
    padding-bottom: 29px;
}
.bl {
    padding-left: 40px;
}
.bl.frst {
    color: #327430;
    padding-left: 0;
}
.navmenu {
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}
.header {
    padding-top: 56px;
    padding-bottom: 32px;

}
.hr {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
}


.card:active {
    background: rgba(117, 117, 117, 0.04);
}
.leftside {
    padding: 16px 0 16px 16px;
    display: flex;
    flex-direction: column;
}
.leftsideone {
    padding: 16px 0 16px 16px;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}
.dish {
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
}
.ingrs {
    font-size: 13px;
    line-height: 21px;
    color: #626262;
    padding-top: 4px;
    flex-grow:1;
}
.price {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
}
.dishphoto {
    width: 170px;
    height: 100%;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.container.th {
    padding: 0;
}
.main {
    margin-bottom: 33px;
}
.footlogo {
    padding-top: 56px;
    padding-bottom: 40px;
}
.logobox {
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    margin-bottom: 32px;
}
.langchange {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(59, 59, 59, 1);
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 33px;
}
.wrld {
    padding: 12px 16px;
}
.select {
    padding: 12px 0;
    width: 120%;
    background:url('images/arrow.svg') no-repeat;
    background-position: 95% center;
}
select {
    width: 120%;
    background: transparent;
    border: 0;
    padding: 0;
    border-radius: 0;
    color:rgba(255, 255, 255, 1);
    outline: 0;
}
option {
    background-color:rgba(59, 59, 59, 1);
    border-radius: 2px;
    outline: 0;
    border-color:rgba(59, 59, 59, 1);
}
.cage {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #49A144;
}
.ubereats {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.icons {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #262626;
}
.scndcol {
    padding-top: 7px;
}
.thrdcol {
    padding-bottom: 17px;
    padding-top: 7px;
}

.textf {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 23px;
    color: #FFFFFF;
}
.eshops {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    border-top: 1px solid rgba(255, 255, 255, .4);
    padding-left: 0;
    padding-right: 0;
}
.eshop1 {
    width: 120.66px;
    height: 40px;
    padding-right: 20px;
}
.eshop2 {
    width: 135px;
    height: 40px;
    padding-left: 20px;
}
.lttltxt {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    white-space: nowrap;
    padding: 12px 0;
}
.bottom {
    padding: 28px 0;
}
footer {
    background-color: #262626;
}
